@import url("all.css");

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

.flex-container div {
    flex-grow: 1;
}

.left {
    margin: 0 10% 0 0;
}

.center {
    margin: 0 10% 0 10%;
}

.right {
    margin: 0 0 0 10%;
}

.right img {
    float: right;
}

.flex-container div p {
    text-align: center;
}

footer {
    position: absolute;
    left: 23px;
    right: 23px;
    text-align: center;
    bottom: 3%;
}

#title {
    letter-spacing: 4px;
    font-variant: small-caps;
    font-family: Georgia;
    font-weight: 900;
    font-size: 64px;
    color: rgb(103, 15, 15);
    margin: 15px;
}

#slogan {
    font-family: Georgia;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: bolder;
}